<a href="/people">Person</a>

<h1><%= @person.name %></h1>
<p>Age: <%= @person.age %></p>
<p>Level: <%= @person.level %></p>
<p>Scramble: <%= @person.scramble %></p>
<p>Max_distance_mi: <%= @person.max_distance_mi %></p>
<p>Max_elevation_ft: <%= @person.max_elevation_ft %></p>
