<a href="/Hikes">Hikes</a>

<h1><%= @hike.name %></h1>
<p>Scramble: <%= @hike.scramble %></p>
<p>Level: <%= @hike.level %></p>
<p>State: <%= @hike.state%></p>
<p>Length: <%= @hike.length %></p>
<p>Elevation: Gain: <%= @hike.elevation_gain_ft %></p>
